nav {
    background-color: #007bff;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 33%;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .active-link {
    font-weight: bold;
    color: blue;
  }
  