<div class="home-container">
  <h1>Sobre</h1>

  <p class="texto">
    Olá, meu nome é Gabriel De Nicola Gonçalves, tenho 23 anos. Concluí o Ensino
    Superior na FIAP, onde cursei Análise e Desenvolvimento de Sistemas. Trabalho
    na área de desenvolvimento de software desde 2023, utilizei tecnologias como
    HTML5, CSS3, Javascript, TypeScript, React, React Native, Angular, Vue.js,
    Java, Python, Node.js entre outras. Estou sempre em busca de oportunidades
    novas para alavancar minha carreira. Boa parte da minha carreira estive
    atuando mais no front-end, em especial com React e ainda mais com Vue.js,
    porém consigo me virar bem em várias tecnologias.

    Quando estou com tempo livre, adoro ver séries, passar bastante tempo com minha
    namorada, com amigos ou família, jogar videogame e fazer academia.

    Esse é um resumo sobre mim, um jovem que adora aprender coisas novas,
    sair da zona de conforto e passar um tempo de qualidade com pessoas que eu gosto.
  </p>
</div>

<footer class="rodape">
  Desenvolvido por Gabriel.
</footer>
