<div class="home-container">
  <h1>Sobre Mim</h1>

  <p class="texto">
    Olá, meu nome é Gabriel De Nicola Gonçalves, tenho 23 anos e sou formado em
    Análise e Desenvolvimento de Sistemas pela FIAP. Desde 2023, atuo
    profissionalmente na área de desenvolvimento de software, sempre com grande
    entusiasmo por aprender e evoluir dentro da tecnologia. Ao longo da minha
    jornada, tive a oportunidade de trabalhar com uma variedade de tecnologias,
    como HTML5, CSS3, JavaScript, TypeScript, React, React Native, Angular,
    Vue.js, Java, Python e Node.js. Minha experiência se concentra, em grande
    parte, no desenvolvimento front-end — especialmente com React e, de forma
    ainda mais intensa, com Vue.js — mas mantenho uma boa versatilidade para
    atuar também em outras frentes e stacks conforme necessário. Tenho um perfil
    colaborativo, gosto de contribuir com ideias, participar ativamente de
    discussões técnicas e buscar soluções que realmente agreguem valor. Acredito
    na importância do trabalho em equipe, da empatia e da comunicação clara para
    o sucesso de qualquer projeto. Fora do ambiente profissional, sou uma pessoa
    que valoriza os momentos simples: gosto de assistir séries, praticar
    atividades físicas, jogar videogame e passar tempo com minha namorada,
    amigos e familiares. Esses momentos são essenciais para meu equilíbrio
    pessoal e também refletem positivamente na minha performance no trabalho. Em
    resumo, sou um profissional comprometido, com sede de conhecimento e
    motivado por desafios que promovem crescimento. Acredito que, com dedicação,
    respeito e colaboração, podemos construir soluções tecnológicas que
    realmente façam a diferença.
  </p>
</div>

<footer class="rodape">Desenvolvido por Gabriel.</footer>
