<div class="home-container">
  <h1>Desenvolvedor de Software</h1>

  <div class="content">
    <p>
      Sou um jovem programador fascinado por tecnologia, movido pela curiosidade
      e pela vontade constante de evoluir. Tenho paixão por aprender coisas
      novas, explorar diferentes linguagens e ferramentas, e estou sempre
      disposto a sair da zona de conforto. Valorizo muito o trabalho em equipe,
      a troca de conhecimento e o desenvolvimento colaborativo. Gosto de encarar
      desafios como oportunidades de crescimento e me esforço continuamente para
      entregar soluções eficientes, com foco na qualidade, inovação e nos
      melhores resultados para a equipe e o projeto como um todo.
    </p>

    <img src="assets/dev.jpg" alt="Imagem dev" />
  </div>

  <div class="social-exp-container">
    <div class="social">
      <h3>Minhas Redes Sociais:</h3>
      <a
        class="apresentacao__links__navegacao"
        href="https://github.com/DeNicola01"
      >
        <img src="./assets/github.png" /> GitHub
      </a>
      <a
        class="apresentacao__links__navegacao"
        href="https://www.linkedin.com/in/gabriel-de-nicola-goncalves-36ab1a234/"
      >
        <img src="./assets/linkedin.png" /> LinkedIn
      </a>
      <a
        class="apresentacao__links__navegacao"
        href="https://instagram.com/gabrieldenicola"
      >
        <img src="./assets/instagram.png" /> Instagram
      </a>
    </div>

    <div class="experiencia">
      <h3>Experiências Profissionais:</h3>
      <ul>
        <li>
          <strong>Desenvolvedor Full Stack Junior</strong> na
          <em>Empresa Informa Comercial Sistemas Ltda</em> (07/2024 - atual)
          <br />
          Desenvolvimento de aplicações web e mobile utilizando Vue.js,
          ReactNative, Node.js e MySQL. Participação ativa em reuniões de
          produto e entregas ágeis.
        </li>
        <li>
          <strong>Desenvolvedor Full Stack Junior</strong> na
          <em>Empresa Wefeel</em> (04/2024 - atual)
          <br />
          Desenvolvimento de uma aplicação de reconhecimento de emoções
          utilizando Python, React, MongoDB.
        </li>
      </ul>
    </div>
  </div>
</div>

<footer class="rodape">Desenvolvido por Gabriel.</footer>
