<div class="home-container">
  <h1>Desenvolvedor de Software</h1>

  <div class="content">
    <p>
      Sou um jovem programador que adora aprender coisas novas, sair da zona de
      conforto, trabalhar em equipe, resolver problemas, e sempre buscar o
      melhor resultado para a equipe.
    </p>

    <img src="assets/dev.jpg" alt="Imagem dev" />
  </div>

  <div>
    <h3>Minhas Redes Sociais:</h3>
    <a
      class="apresentacao__links__navegacao"
      href="https://github.com/DeNicola01"
    >
      <img src="./assets/github.png" /> GitHub
    </a>
    <a
      class="apresentacao__links__navegacao"
      href="https://www.linkedin.com/in/gabriel-de-nicola-goncalves-36ab1a234/"
    >
      <img src="./assets/linkedin.png" /> LinkedIn
    </a>
    <a
      class="apresentacao__links__navegacao"
      href="https://instagram.com/gabrieldenicola"
    >
      <img src="./assets/instagram.png" /> Instagram
    </a>
  </div>
</div>

<footer class="rodape">
  Desenvolvido por Gabriel.
</footer>
