<div class="home-container">

  <h1>Comunix</h1>
  <p class="texto">
    Foi desenvolvido um Site e App de RH, trabalhei mais especificamente no
    módulo de batida de ponto, onde foi utilizado as tecnologias Vue.js e
    ReactNative para Web e App respectivamente e Node.js para o backend com
    MySQL de banco de dados e Figma para o UX. Nele usávamos a metodologia
    SCRUM, com Sprints com duração de normalmente 2 semanas, com dailys de
    segunda a sexta, para mostrar o progresso das tasks. Nesse projeto foram
    trabalhados muitos CRUDs, integração com API do Google Maps para a criação
    das funções do projeto, podendo criar escalas de trabalho, configurações de
    batida de ponto, banco de horas, cadastro de feriados e motivos de ajuste de
    batida ou abonos, para a página de espelho de ponto, mostrando os dias e
    batidas que foram realizadas e as cercas virtuais demarcando com google maps
    onde pode ser feita a batida do ponto e a propria batida de ponto com uma
    foto tirada no momento da batida.
  </p>

  <div class="grid-imagens">
    <img src="assets/espelho.png" alt="Imagem dev" />
    <img src="assets/espelhoMensal.png" alt="Imagem dev" />
    <img src="assets/config.png" alt="Imagem dev" />
    <img src="assets/cerca.png" alt="Imagem dev" />
  </div>

  <h1>WeFeel</h1>
  <p class="texto">
    Foi desenvolvido um sistema para reconhecimento de emoções, com backend em
    Python e com IA de reconhecimento facial e reconhecimento de emoções e
    front-end em React com banco de dados MongoDB, nele voce ligava a câmera e
    colocava seu rosto nela e ela escaneava e avaliava as emoções sentidas pela
    pessoa no momento, armazenando os resultados recentes para possíveis
    estudos, com histórico e gráficos, nele foi usada a metodologia SCRUM, com
    sprints semanais e reuniões semanais para mostrar o progresso.
    <br />
    <img class="wefeel-img" src="assets/demo.png" alt="Imagem dev" />
  </p>
</div>

<footer class="rodape">Desenvolvido por Gabriel.</footer>
